@{
    Layout = "_LayoutPos";
}



<header class="container-fluid header">
    <div class="row">
        <div class="col-8">
            @(await Component.InvokeAsync("Estado"))
        </div>
        <div class="col-4 d-flex flex-row-reverse">
            <p id="pos-fechar">FECHAR</p>
        </div>
    </div>
</header>

<div class="container-fluid text-center">
    <div class="row content">


        @*Categorias*@
        <div class="col-sm-2 sidenav">
            @(await Component.InvokeAsync("Categorias"))
        </div>

        @*Produtos*@
        <div class="col-sm-8 text-left">
            <div id="produtosDiv">
                @(await Component.InvokeAsync("Produtos"))
            </div>
        </div>

        @*Carrinho*@
        <div class="col-sm-2 sidenav">
            <div id="totaisDiv">
                @(await Component.InvokeAsync("Totais"))
            </div>
            <hr />
            <div class="d-flex justify-content-center">
                <div class="p-2" id="pos-cancelar">CANCELAR</div>
                <div class="p-2" id="pos-pagar">PAGAR</div>
            </div>

            <hr />
            <div id="carrinhoDiv">
                @(await Component.InvokeAsync("Carrinho"))
            </div>


        </div>
    </div>
</div>
@*        <div class="col-2 d-flex flex-row-reverse">

    </div>*@
<footer class="container-fluid text-center footer">
    <div id="mensagemDiv">
        @(await Component.InvokeAsync("MensagemPos"))
    </div>

</footer>

<partial name="_ModalFecho" />
<partial name="_ModalPagamento" />
<partial name="_ModalCancelar" />




