@model IEnumerable<Projeto.DataAccessLayer.Entidades.CategoriaProduto>

@{
    ViewData["Title"] = "Gestão de Categorias de Produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Edit" class="btn btn-sm btn-primary">Criar nova categoria de produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdemApresentacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemApresentacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Identificador" class="btn btn-sm btn-info">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Identificador" class="btn btn-sm btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
