@model Projeto.DataAccessLayer.Entidades.PontoDeVenda

@{
    ViewData["Title"] = "Remoção de ponto de venda";
}

<h1>@ViewData["Title"]</h1>

<h3>Deseja apagar o ponto de venda ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUltimaAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUltimaAlteracao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index"  class="btn btn-light">Voltar</a>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
